* {
	padding: 0;
	margin: 0;
}

*:active {
	outline: none;
}

*:focus {
	box-shadow: 0 0 4px #444;
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.3s;
	font-style: italic;
}

a:hover {
	color: #f5e611;
}

body {
	font: 300 16px/1.4 'Titillium Web', "Helvetica","Arial",sans-serif;
	padding-top: 80px;
}

h1,
h2,
h3,
h4{
	margin-bottom: 0.2em;
	transition: 0.3s;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

h1,
h2,
h3,
h4,
h1 a,
h2 a,
h3 a,
h4 a {
	font-style: normal;
}

a:hover h1,
a:hover h2,
a:hover h3,
a:hover h4,
h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
	text-shadow:  -2px 2px 0 rgba(0,0,0,0.2);
}

h2 {
	font-size: 200%;
}

ul,
ol {
	padding: 0;
	margin: 0 0 9px 25px;
}

button {
	background-color: #F5E611;
	font-weight: 700;
	padding: 2px 15px;
	border-radius: 4px;
	white-space: nowrap;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
	transition: 0.3s;
	font-size: 1.2em;
	border: none;
	cursor: pointer;
}

button:hover {
	text-shadow:  -2px 2px 0 rgba(0,0,0,0.2);
	box-shadow:  -1px 1px 2px rgba(0,0,0,0.1);
}

button a {
	text-decoration: none;
}

button a:hover {
	color: inherit;
}

body ::-webkit-scrollbar {
	width: 8px;
}

body ::-webkit-scrollbar-track {
	background-color: white;
}

body ::-webkit-scrollbar-thumb {
	box-shadow:  inset -1px 1px 2px rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.1);
}

/******************/
/*BASIC TEMPLATE*/
/*****************/

header {
	width: 100%;
	height: 60px;
	background-color: white;
	position: fixed;
	top: 0;
	box-sizing: border-box;
	z-index: 15;
	min-width: 250px;
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

.site-logo {
	text-decoration: none;
	color:#333;
}

header .site-logo {
	position: absolute;
	left: 55px;
	padding-left: 70px;
	padding-top: 15px;
}

header .site-logo:hover {
	color: inherit;
}

header .site-logo h1{
	font-size: 22px;
	text-shadow: none;
}

header .site-logo h1:hover {
	text-shadow: none;
}

header .site-logo img {
	height: 55px;
	width: 55px;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
}

header .site-logo span + span {
	font-size: 15px;
	margin-left: 10px;
}

main {
	min-width: 685px;
	max-width: 950px;
	margin:  0 auto;
}


footer {
	z-index: 16;
	position: relative;
	height: 475px;
	height: 95vh;
	background-color: white;
	box-shadow: 0 -4px 30px rgba(0,0,0,0.2);
	margin-top: 50px;
	padding-top: 25px;
	padding-top: 5vh;
	color: #333;
}

footer .site-logo {
	display: block;
	width: 50vh;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}

footer .site-logo img {
	width: 70%;
	max-width: 500px;
	margin: 0 auto;
}

footer .site-logo h1,
footer .site-logo h2 {
	background-color: #f5e611;
	color: white;
}

footer .site-logo h1 {
	font-size: 50px;
}

footer .site-logo h2{
	font-size: 30px;
}

footer .four-columns {
	display: table;
	width: 94%;
	padding: 0 3%;
}

footer .four-columns > div h3 {
	text-align: center;
}

footer .four-columns > div {
	display: table-cell;
	background-color: #f5e611;
	border: 20px solid #fff;
	padding: 10px;
}

/**************/
/*ARTICLE VIEW*/
/**************/
.item-page {
	min-height: 400px;
	min-height: 40vh;
	width: 80%;
	padding: 24px 60px;
	box-sizing: border-box;
	position: relative;
	background-color: rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

ul.breadcrumb {
	margin: 20px auto;
	min-width: 685px;
	max-width: 1000px;
	box-shadow: 0 4px 5px rgba(0,0,0,0.1);
	padding: 10px 30px;
}

.pager {
	margin: 18px 0;
	list-style: none;
	text-align: center;
	*zoom: 1;
}

.pager:before,
.pager:after {
	display: table;
	content: "";
	line-height: 0;
}

.pager:after {
	clear: both;
}

.pager li {
	display: inline;
}

.pager li > a,
.pager li > span {
	display: inline-block;
	font-weight: 700;
	padding: 2px 15px;
	border-radius: 4px;
	white-space: nowrap;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
	background-color: #F5E611;
	color: white;
}

.pager li > a:hover,
.pager li > a:focus {
	text-shadow:  -2px 2px 0 rgba(0,0,0,0.2);
	box-shadow:  -1px 1px 2px rgba(0,0,0,0.1);
}

.pager .next > a,
.pager .next > span {
	float: right;
}

.pager .previous > a,
.pager .previous > span {
	float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
	color: #999;
	background-color: #fff;
	cursor: default;
}

/*********************/
/*FEATURED ARTICLES*/
/*********************/
.view-featured section,
.view-featured .cols {
	margin: 0 auto;
	min-height: 400px;
	min-height: 40vh;
	min-width: 685px;
	position: relative;
	color: white;
	background: linear-gradient(to left, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.1));
}

.view-featured .cols {
	max-width: 1060px;
	display: table;
}

.view-featured section {
	max-width: 1000px;
	padding: 80px 30px;
	overflow-y: auto;
	max-height: 700px;
	max-height: 70vh;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.view-featured .cols section {
	padding: 40px 5px;
	min-width: 263px;
	display: table-cell;
	width: 50%;
	box-sizing: border-box;
}

.view-featured section > h2 {
	position: absolute;
	top: -27px;
	right: 10px;
	font-size: 100px;
	color: white;
}

.view-featured .cols section > h2 {
	top: -13px;
	font-size: 50px;
}

.view-featured section .item,
.view-featured section .item-leading {
	margin:  20px auto;
	max-width: 66%;
	padding: 10px 30px;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

.view-featured .cols section .item,
.view-featured .cols section .item-leading {
	max-width: 75%;
}

.view-featured section iframe {
	margin: 0 auto;
	display: block;
}

.view-featured .head {
	background: #15EC30;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 5;
	padding-top: 160px;
	padding-bottom: 10px;
}

.view-featured .head h2 {
	top: 50px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 70px;
}

.view-featured .blog {
	background-color: #59B40E;
	z-index: 2;
}

.view-featured .last {
	background-color: #00B9E1;
	z-index: 3;
}

.view-featured .col-2 {
	background-color: #DF9818;
	z-index: 5;
}

.view-featured .col-1 {
	background-color: #E66042;
	z-index: 1;
}

.view-featured .logo-map-sec {
	background: transparent;
	height: 300px;
	overflow: hidden;
	box-shadow: none;
}

/************/
/*LOGO MAP*/
/************/

.logo-map {
	width: 300px;
	margin: 0 auto;
	position: relative;
}

.logo-map img {
	display: block;
	width: 300px;
}

.logo-map button {
	position: absolute;
}

.logo-map .nw {
	top: 3px;
	right: 292px;
}

.logo-map .ne {
	top: 4px;
	left: 300px;
}

.logo-map .sw {
	top: 232px;
	right: 294px;
}

.logo-map .se {
	top: 235px;
	left: 278px;
}
